*.sdf
*.suo
*.opensdf
*.opendb
*.bak
*.aps
bin/
lib/
PlaneShader/x64/
PlaneShader/Win32/
examples/00 Testbed/x64/
examples/00 Testbed/Win32/
examples/bin/
examples/bin64/
examples/media/*.ico
examples/media/*.png

